:root {
  --powered-by-display: none;
  --palette-rating-number-hover: transparent;
  --palette-rating-number-fill: transparent;
  --palette-rating-custom-hover: transparent;
  --palette-rating-custom-fill: transparent;
  --palette-rating-number-selected: #ff4f4d;
  --palette-rating-custom-selected: #ff4f4d;
  --palette-core-primary: transparent;
}

.CSATRating > div {
  text-align: center !important;
  display: flex !important;
  justify-content: center;
  gap: 4px; /* Reduce spacing between stars */
}
